.todo{
  padding: 10px;
  border: 0.5px solid black;
  margin: 50px;
  border-radius: 10px;
  width: 400px;
}

button{
  background-color: lightgray;
  border: 1px solid black;
  width: 80px;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
}

button:hover{
  background-color: gray;
}